<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div id="accordion" class="checkout">
                <div class="panel checkout-step">
                    <div> 
                        <h4 class="checkout-step-title"> <a role="button"  data-parent="#accordion"  > Consultar Cliente</a></h4>
                    </div>
                    <div id="collapseOne" >
                        <div class="checkout-step-body">
                            <p>Consulta si el cliente ya se encuantra registrado.</p>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="checkout-login">
                                        <form [formGroup]='formConsult' (ngSubmit)="onSubmit()">
                                            <div>
                                                <input type="text" class="form-control" formControlName="consult" placeholder="Numero de Identificacion">
                                            </div>
                                            <br>
                                            <button type="submit" *ngIf="!btnnext" class="btn btn-primary" >Consultar</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="btnnext">
                                <div *ngFor="let i of clientdata">
                                    <p>Nombre: {{i.name}} </p>
                                    <p>Apellido: {{i.surname}} </p>
                                    <p>Cedular: {{i.consult}} </p>
                                </div>
                                <a class="collapsed btn btn-default btn btn-success" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Siguiente</a>
                                <a class="btn btn-danger" >Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel checkout-step">
                    <div > 
                        <h4 class="checkout-step-title"> <a  role="button" data-parent="#accordion"  > Ingreso de dispositivo</a> </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="checkout-step-body">
                            <div class="checout-address-step">
                                <div class="row">
                                    <form class="">
                                        
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="name">Equipo</label>
                                                <input id="name" name="name" type="text" placeholder="Nombre del equipo" class="form-control input-md" required="" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="name">Modelo</label>
                                                <input id="name" name="name" type="text" placeholder="Modelo del equipo" class="form-control input-md" required="" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="name">Marca</label>
                                                <input id="name" name="name" type="text" placeholder="Serie del equipo" class="form-control input-md" required="" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="name">Serial</label>
                                                <input id="name" name="name" type="text" placeholder="Serie del equipo" class="form-control input-md" required="" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="name">Accesorios</label>
                                                <p style="color: rgb(252, 118, 118);">En este campo ingresara los accesorios, que viene conjuntamente con el dispositivo</p>
                                                <textarea id="name" name="name" type="text" placeholder="Accesorios del equipo " class="form-control input-md" required="" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="name">Estado del producto</label>
                                                <textarea id="name" name="name" type="text" placeholder="Estado en que se encuentra el equipo" class="form-control input-md" required="" autocomplete="off"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="name">Otros detalles</label>
                                                <textarea id="name" name="name" type="text" placeholder="Datos que desee anexar" class="form-control input-md" required="" autocomplete="off"></textarea>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
