<br>

<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar cliente" aria-label="Search">
    <button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</nav> -->

<div class="container">
<div class="col-md-14 col-14 col-sm-14">
    <div class="card">
      <div class="card-header">
        <h4>Mi tablero</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody><tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Fecha de inicio</th>
                <th></th>
                <th></th>
            </tr>
            <ng-container *ngIf="data != 0">
            <tr *ngFor="let i of data">
              <td>{{i.brand}}</td>
              <td>{{i.model}}</td>
              <td>{{i.type}}</td>
              <td>{{i.process_start_date | date : 'short'}}</td>
              <td>
              <a class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                </svg>
              </a>
              <a class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
              </a>
              
              </td>
               <td>
                <div class="dropdown">
                  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                  </a>
                
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td> 
            </tr>
          </ng-container>
          </tbody></table>
        </div>
        <div *ngIf="data == 0" class="alert alert-primary text-center" role="alert">
          No has colocado en curso ningún dispositivo
          </div>
      </div>
    </div>
  </div>
</div>


<!-- modal -->
<div id="fsModal"
     class="modal animated bounceIn"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog modal-lg">

    <!-- content -->
    <div class="modal-content">
      
      <!-- body -->
      <div class="modal-body">
        
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Marca:</b> Asus</li>
            <li class="list-group-item"><b>Modelo:</b> X2003</li>
            <li class="list-group-item"><b>Propietario:</b> Luis Eduardo</li>
            <li class="list-group-item"><b>Motivo:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. A architecto, debitis sapiente provident nobis nesciunt soluta ab consectetur aperiam voluptas dolore necessitatibus repellendus ea vel eligendi, sint eum aliquam officiis.</li>
          </ul>
        </div>

        <!-- <div class="card">
          <div class="card-body">
            
            <h4>Motivo de ingreso</h4>

            <p>Liquor ipsum dolor sit amet bearded lady, grog murphy's bourbon lancer. Kamikaze vodka gimlet; old rip van winkle, lemon drop martell salty dog tom collins smoky martini ben nevis man o'war. Strathmill grand marnier sea breeze b & b mickey slim. Cactus jack aberlour seven and seven, beefeater early times beefeater kalimotxo royal arrival jack rose. Cutty sark scots whisky b & b harper's finlandia agent orange pink lady three wise men gin fizz murphy's. Chartreuse french 75 brandy daisy widow's cork 7 crown ketel one captain morgan fleischmann's, hayride, edradour godfather. Long island iced tea choking hazard black bison, greyhound harvey wallbanger, "gibbon kir royale salty dog tonic and tequila."</p>

          </div>
        </div> -->
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary"
                data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>

  </div>

</div>
