<div class="page-content container">
        
    
    <div class="container px-0">
        <div class="row mt-4">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-6 text-right">
                        <img class="img-fluid rounded-circle mr-3" src="https://images.ctfassets.net/hrltx12pl8hq/3MbF54EhWUhsXunc5Keueb/60774fbbff86e6bf6776f1e17a8016b4/04-nature_721703848.jpg?fit=fill&w=480&h=270" alt="" width="170px">
                    </div>
                    <div class="col-6 mt-3">
                        <h3>Data Filter</h3>
                    </div>
                </div>
                <!-- .row -->

                <hr class="row brc-default-l1 mx-n1 mb-4" />

                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <span class="text-sm text-grey-m2 align-middle">Administrador:</span>
                            <span class="text-600 text-110 text-blue align-middle">Pepito Pérez</span>
                        </div>
                        <div class="text-grey-m2">
                            <div class="my-1">
                                <span class="text-sm text-grey-m2 align-middle">Cliente:</span>
                                <span class="text-600 text-110 text-blue align-middle">Hernan Mapura</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                        <hr class="d-sm-none" />
                        <div class="text-grey-m2">
                            <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                Datos generales
                            </div>
                            
                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">cédula:</span> #1005374</div>

                            <!--<div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Fecha:</span> Oct 12, 2019</div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Estado:</span> <span class="badge badge-warning badge-pill px-25">Terminado</span></div>-->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <hr class="row brc-default-l1 mx-n1 mb-4" />
                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Dispositivo</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Fallas</th>
                                <th scope="col">Solución</th>
                                <th scope="col">Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Impresora rgx 40</td>
                                <td>Impresora con escaner ultimo modelo, le hacen falta 2 tronillos, no tiene alguna parte poco importante, es de color negro y ah sido traida para ser revisada</td>
                                <td>Tiene la tinta regada, no tiene un buen sistema de calefaccion, tiene que cambiar de impresora por que esta se dañó.</td>
                                <td>Tiene la tinta regada, no tiene un buen sistema de calefaccion, tiene que cambiar de impresora por que esta se dañó.</td>
                                <td><p style="background-color: rgb(147, 255, 74); border-radius: 10px; padding-left: 2px; padding-right: 2px;">Terminado</p></td>
                            </tr>
                            <tr>
                                <td>Diademas 240 FTP</td>
                                <td>Diademes bla bla bla con escaner ultimo modelo, le hacen falta 2 tronillos, no tiene alguna parte poco importante, es de color negro y ah sido traida para ser revisada</td>
                                <td>Alguna otra Descripción de prueba no tiene un buen sistema de calefaccion, tiene que cambiar de impresora por que esta se dañó.</td>
                                <td>Mas contenido de prueba, no tiene un buen sistema de calefaccion, tiene que cambiar de impresora por que esta se dañó.</td>
                                <td><p style="background-color: rgb(252, 255, 74); border-radius: 10px; padding-left: 3px;">En curso</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>