<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-5 text-center">Log In</h3>
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-15">
                          <label for="validationCustomUsername" class="form-label">Correo</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                              Please choose a username.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-15">
                          <label for="validationCustom03" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" id="validationCustom03" required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>

                        <div class="col-12 text-center">
                          <button class="btn btn-primary" type="submit">Iniciar sesion</button>
                        </div>
                    </form>
                    <br><br>
                    <div class="text-center">
                      <a class="small" href="/recovery">Olvide mi contraseña</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>