
<br>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"></a>
  <form class="form-inline">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
    </div>
    <select class="custom-select mr-2" id="inputGroupSelect01">
      <option value="1">Cedula</option>
      <option value="2">Codigo</option>
    </select>
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar.." aria-label="Search">
    <button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</nav>

<div class="container">
<div class="col-md-14 col-14 col-sm-14">
    <div class="card">
      <div class="card-header">
        <h4>Dispositivos finalizados</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody><tr>
                <th>Documento</th>
                <th>Código</th>
                <th>Marca</th>
                <th>Tipo</th>
                <th>nombre del cliente</th>
                <th>Fecha de ingreso</th>
                <th>Ingresado por</th>
                <th>Opciones</th>
                <th></th>
            </tr>
            <tr>
              <td>1002020020</td>
              <td>S36GS5</td>
              <td>Asus</td>
              <td>Laptop</td>
              <td>Luis Eduardo</td>
              <td>18-05-2021</td>
              <td style="color: red;">@Luis Eduardo</td>
              <td>
                <a class="btn btn-light btn-action mr-1 btn-modal" class="btn btn-primary" data-toggle="modal" data-target="#fsModal">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
                    </svg>
                </a>
                
                <!-- <a class="btn btn-danger btn-action mr-1">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path fill="none" d="M16.471,5.962c-0.365-0.066-0.709,0.176-0.774,0.538l-1.843,10.217H6.096L4.255,6.5c-0.066-0.362-0.42-0.603-0.775-0.538C3.117,6.027,2.876,6.375,2.942,6.737l1.94,10.765c0.058,0.318,0.334,0.549,0.657,0.549h8.872c0.323,0,0.6-0.23,0.656-0.549l1.941-10.765C17.074,6.375,16.833,6.027,16.471,5.962z"></path>
                        <path fill="none" d="M16.594,3.804H3.406c-0.369,0-0.667,0.298-0.667,0.667s0.299,0.667,0.667,0.667h13.188c0.369,0,0.667-0.298,0.667-0.667S16.963,3.804,16.594,3.804z"></path>
                        <path fill="none" d="M9.25,3.284h1.501c0.368,0,0.667-0.298,0.667-0.667c0-0.369-0.299-0.667-0.667-0.667H9.25c-0.369,0-0.667,0.298-0.667,0.667C8.583,2.985,8.882,3.284,9.25,3.284z"></path>
                    </svg>
                </a> -->
                <!-- <a class="btn btn-danger btn-action">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path fill="none" d="M16.471,5.962c-0.365-0.066-0.709,0.176-0.774,0.538l-1.843,10.217H6.096L4.255,6.5c-0.066-0.362-0.42-0.603-0.775-0.538C3.117,6.027,2.876,6.375,2.942,6.737l1.94,10.765c0.058,0.318,0.334,0.549,0.657,0.549h8.872c0.323,0,0.6-0.23,0.656-0.549l1.941-10.765C17.074,6.375,16.833,6.027,16.471,5.962z"></path>
                        <path fill="none" d="M16.594,3.804H3.406c-0.369,0-0.667,0.298-0.667,0.667s0.299,0.667,0.667,0.667h13.188c0.369,0,0.667-0.298,0.667-0.667S16.963,3.804,16.594,3.804z"></path>
                        <path fill="none" d="M9.25,3.284h1.501c0.368,0,0.667-0.298,0.667-0.667c0-0.369-0.299-0.667-0.667-0.667H9.25c-0.369,0-0.667,0.298-0.667,0.667C8.583,2.985,8.882,3.284,9.25,3.284z"></path>
                    </svg>
                </a> -->
              </td>
              <td>
                <button type="button" class="btn btn-success">Retirar</button>
              </td>
            </tr>
          </tbody></table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- modal -->
<div id="fsModal"
     class="modal animated bounceIn"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog modal-lg">

    <!-- content -->
    <div class="modal-content">
      
      <!-- body -->
      <div class="modal-body">
        
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Marca:</b> Asus</li>
            <li class="list-group-item"><b>Modelo:</b> X2003</li>
            <li class="list-group-item"><b>Propietario:</b> Luis Eduardo</li>
            <li class="list-group-item"><b>Motivo:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. A architecto, debitis sapiente provident nobis nesciunt soluta ab consectetur aperiam voluptas dolore necessitatibus repellendus ea vel eligendi, sint eum aliquam officiis.</li>
          </ul>
        </div>

        <!-- <div class="card">
          <div class="card-body">
            
            <h4>Motivo de ingreso</h4>

            <p>Liquor ipsum dolor sit amet bearded lady, grog murphy's bourbon lancer. Kamikaze vodka gimlet; old rip van winkle, lemon drop martell salty dog tom collins smoky martini ben nevis man o'war. Strathmill grand marnier sea breeze b & b mickey slim. Cactus jack aberlour seven and seven, beefeater early times beefeater kalimotxo royal arrival jack rose. Cutty sark scots whisky b & b harper's finlandia agent orange pink lady three wise men gin fizz murphy's. Chartreuse french 75 brandy daisy widow's cork 7 crown ketel one captain morgan fleischmann's, hayride, edradour godfather. Long island iced tea choking hazard black bison, greyhound harvey wallbanger, "gibbon kir royale salty dog tonic and tequila."</p>

          </div>
        </div> -->
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary"
                data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>

  </div>

</div>
