<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container">
<section class="content">
	<div class="row">
		<!-- BEGIN NAV TICKET -->
		<div class="col-md-3">
			<div class="grid support">
				<div class="grid-body">
					<h2>Panel ADMIN</h2>

					<hr>

					<ul>
            <!-- <span class="pull-right">2</span> -->
						<li><a style="color: black; cursor: pointer;" (click)='showMessage()'>Mensajes</a></li>
						<li><a style="color: black; cursor: pointer;" (click)='showEnvironments()'>Entornos</a></li>
						<li><a style="color: black; cursor: pointer;" (click)='showUsers()'>Usuarios</a></li>
					</ul>

					<hr>

					<p><strong>Otros</strong></p>
				</div>
			</div>
            <button class="btn btn-primary col-md-12" [routerLink]="['/3RjZgfU&rZVRLC7fzTNf1IRgxRFPvQ5G1ekFXJZ9/Sd89AsYwD912']" (click)='auth.logout()'>Salir</button>
		</div>

		<div class="col-md-9">
			<div class="grid support-content">
				 <div class="grid-body">
					 <h2>Data Filter</h2>
					 <hr>
           <div *ngIf="btnMessage">
              <div class="btn-group">
                <button type="button" class="btn btn-default active" (click)='showMessages(0)'>
                  <div *ngIf="messages">{{messages.info[0].FView}} Sin contestar</div>
                </button>
                <button type="button" (click)='showMessages(1)' class="btn btn-default">
                  <div *ngIf="messages">{{messages.info[0].Viewed}}  Contestados</div>
                </button>
              </div>

              <div class="row">
                <!-- BEGIN TICKET CONTENT -->
                <div class="col-md-12">
                  <ul class="list-group fa-padding" *ngIf="messages">
                    <div *ngFor="let i of messages.infoS">
                      <li class="list-group-item" (click)='InfoMessage(i.id)' data-toggle="modal" data-target="#exampleModal">
                        <div class="media">
                          <div class="media-body">
                            <strong>{{ i.name }} </strong> <span class="number pull-right"><i class="bi bi-question-circle "></i></span>
                            <p class="info">Enviado {{i.shipping_date}}</p>
                          </div>
                        </div>
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>

            <div *ngIf="btnEnvironment">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre Entorno</th>
                    <th scope="col">F_creación</th>
                    <th scope="col">Creado por</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of DataEnvironment">
                    <th scope="row">{{i.environment}}</th>
                    <td>{{i.creation_date | date:'longDate'}}</td>
                    <td>{{i.name}} {{i.surname}}</td>
                    <td>
                      <button class="btn" (click)="bringDataEnvId(i.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="btnUsers">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Cuenta activa</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of DataUsers">
                    <th >{{i.name}}</th>
                    <th>{{i.surname}}</th>
                    <th>{{i.email}}</th>
                    <th>
                      <a *ngIf="i.activated" class="badge badge-success">Activa</a>
                      <a *ngIf="!i.activated" class="badge badge-danger">Inactiva</a>
                    </th>
                    <th>
                      <button *ngIf="!i.activated" class="btn" (click)='deleteUser(i.id)'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </button>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="card">
                    <ul class="list-group list-group-flush" *ngIf="infoMessagesId">
                        <li class="list-group-item" *ngFor="let i of infoMessagesId">
                          <b>Nombre:</b> {{i.name}}
                          <hr>
                          <b>Correo:</b> {{i.email}}
                          <hr>
                          <b>Comentario:</b>  {{i.message}}
                          <div *ngIf="option">
                            <hr>
                            <b>Respuesta:</b> {{i.answer_t}}
                          </div>
                        </li>
                    </ul>
                    <div *ngIf="!option">
                      <form  [formGroup]='form' (ngSubmit)='answerMessage(infoMessagesId[0].id, infoMessagesId[0].email)'>
                        <div  class="form-group text-center">
                          <label for="exampleFormControlTextarea1"><b>Mensaje</b></label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" formControlName='answer' rows="3" placeholder="Escribe tu mensaje de respuesta"></textarea>
                        </div>
                        <button type="submit" class="btn btn-info">Enviar</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
